<template>
  <div>
    <button @click="test">speech</button>
    <!-- <button @click="speechFunction"> 点击传播 </button> -->
    <button @click="cancelPlayback"> 取消播放 </button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      textArray: ['1212', '按实际的哈接电话', '阿萨的电风扇犯得上发生', '阿达哒哒哒'],
      utteranceArray: []
    }
  },
  methods: {
    test () {
      // 在循环中创建 SpeechSynthesisUtterance 对象，并将其添加到数组中
      for (let i = 0; i < this.textArray.length; i++) {
        const utterance = new SpeechSynthesisUtterance(this.textArray[i])
        this.utteranceArray.push(utterance)
        speechSynthesis.speak(utterance)
      }
      console.log(this.utteranceArray)
    },

    // 在组件销毁之前，可以使用以下代码取消待播放的列表中的所有文本
    cancelPlayback () {
      for (let i = 0; i < this.utteranceArray.length; i++) {
        speechSynthesis.cancel()
      }
    }
  }
}
</script>

<style></style>
