<template>
    <div>
      <h2>WebSocket通信示例</h2>
      <p>当前时间: {{ currentTime }}</p>
    </div>
</template>

<script lang="ts">
export default {
  data () {
    return {
      currentTime: ''
    }
  },
  created () {
    // 创建WebSocket连接
    const ws = new WebSocket('ws://localhost:3080')

    // 监听WebSocket的打开事件
    ws.onopen = () => {
      console.log('WebSocket连接已打开')
    }

    // 监听WebSocket的消息事件
    ws.onmessage = (message) => {
      console.log(`Received message: ${message.data}`)
      if (message.data === 'success') {
        console.log('Transaction completed')
        setTimeout(() => {
          ws.send('yes') // 向服务器发送 'yes' 的消息
        }, 5000)
      }
      if (message.data === '1') {
        setTimeout(() => {
          ws.send('yes')
        }, 5000)
      }
    }

    // 监听WebSocket的关闭事件
    ws.onclose = () => {
      console.log('WebSocket连接已关闭')
    }
  }
}
</script>
